@model List<PortfolioBI.CaseStudy.Models.SecurityModel>
@{
    ViewData["Title"] = "Case Study Scenario 1";
}

<div>
    @foreach (var security in Model)
    {
        @Html.Partial("_SecurityDetails", security)
    }
</div>
